{% extends 'base.html' %}
{% block title %}
     About - {{ block.super }}
{% endblock title %}

{% block content %}
<hr>
<h3>About Linkinator</h3>
<p>Linkinator is a place where you can find the most popular links across the web. Links are voted on by users, and the best links rise to the top. <strong>Reddit, eat your heart out!</strong>  --  ok maybe not...</p>
<p>Linkinator was created by <a href="https://github.com/deannamjacobs">Deanna Jacobs</a> and <a href="https://github.com/SeanHoude">Sean Houde</a> as a project in <a href="https://www.momentumlearn.com/"> Momentum Learn</a>'s Immersive Python/Django coding course.</p>
{% endblock content %}