{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}
{% block title %}
    Home - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 card">
                    <h3>
                    {% if post.url %}
                    <a href="{{ post.url }}">
                    {% else %}
                    <a href="{% url 'post_detail' slug=post.slug %}">
                    {% endif %}
                    {{ post.title }}</a></h3>
                    <p>{{ post.description }}</p>
                    <p>Added on {{ post.created|date:'m-d-Y' }}</p>
                    <p><a class="btn btn-secondary" href="{% url 'post_detail' slug=post.slug %}" role="button">View Details &raquo;</a></p>
                    <p><a href="{% url 'post_detail' slug=post.slug %}">{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</a></p>
                    <p>Upvoted {{ post.votes.count }} time{{ post.votes.count|pluralize }}
                    {% if user.is_authenticated %}
                    <form action="{% url "vote_index" slug=post.slug %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name='post' value='{{ post.slug }}'>
                    {% if post in request.user.voted_posts.all  %}
                        <input type="image" src="{% static 'images/removethumb.png' %}" />
                    {% else %}
                        <input type="image" src="{% static 'images/thumbup.png' %}" />
                    {% endif %}
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <nav class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <li class='page-item float-left'><a class='page-link' href="?page=1">&laquo; first</a></li>
                <li class='page-item float-left'><a class='page-link' href="?page={{ posts.previous_page_number }}">previous</a></li>
            {% endif %}
            <span class="current float-left center">
                 Page {{ posts.number }} of {{ posts.paginator.num_pages }} 
            </span>
            {% if posts.has_next %}
                <li class='page-item float-left'><a class='page-link' href="?page={{ posts.next_page_number }}">next</a></li>
                <li class='page-item float-left'><a class='page-link' href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </span>
    </nav>
{% endblock content %} 

