{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <h4>By {{ post.author }}</h4>
            
                <p>{{ post.description }}</p>
                
                <p>{{ post.votes.count }}
                <form action="{% url "vote_detail" slug=post.slug %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name='post' value='{{ post.slug }}'>
                {% if post in request.user.voted_posts.all  %}
                    <input type="image" src="{% static 'images/removethumb.png' %}" />
                {% else %}
                    <input type="image" src="{% static 'images/thumbup.png' %}" />
                {% endif %}
                </form>
                <HR>
                {% for comment in post.comments.all %}
                    <div class="comment">
                    <div class="date">{{ comment.created }}</div>
                    <strong>{{ comment.user }}</strong>
                    <p>{{ comment.comment|linebreaks }}</p>
                    </div>
                {% empty %}
                    <p>Add a comment! :)</p>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %} 
