{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <h4>By {{ post.author }}</h4>
            
                <p>{{ post.description }}</p>
                <p>Upvoted {{ post.votes.count }} time{{ post.votes.count|pluralize }}
                {% comment %} <form action="{% url "vote_detail" slug=post.slug %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name='post' value='{{ post.slug }}'> {% endcomment %}
                {% comment %} {% if post in request.user.voted_posts.all  %}
                    <input type="image" src="{% static 'images/removethumb.png' %}" />
                {% else %}
                    <input type="image" src="{% static 'images/thumbup.png' %}" />
                {% endif %}
                </form>
                <HR> {% endcomment %}
                {% comment %} <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a> {% endcomment %}

                {% for comment in post.comments.all %}
                    <div class="comment">
                    <div class="date">{{ comment.created }}</div>
                    <strong>{{ comment.user }}</strong>
                    <p>{{ comment.comment|linebreaks }}</p>
                    </div>
                {% endfor %}   

                {% comment %} <h1>Add comment</h1> {% endcomment %}
                <form method="POST" action="{% url 'add_comment_to_post' slug=post.slug %}" class="post-form">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <input type="submit" value='Add comment'>
                </form>
            </div>
        </div>
    </div>
{% endblock content %} 
